## Importamos las bibliotecas necesarias

In [2]:
import pandas as pd
import numpy as np    
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

### Leemos los datos históricos de BTC desde un archivo CSV

se muetran las primeras 5 filas

In [3]:
import pandas as pd



# Ruta hacia el archivo CSV
ruta_archivo = "C:/Users/SILCA/OneDrive/Escritorio/dataset/BTC-USD.csv"

# Cargar los datos en un DataFrame
df = pd.read_csv(ruta_archivo)

print(df.head())

     Fecha  Precio_Apertura  Precio_Máximo  Precio_Mínimo  Precio_Cierre  \
0  21/3/16        413417999      413417999      410381012      413307007
1  22/3/16        413131989      418375000      412531006      418088989
2  23/3/16        418161011      419268005      417364014      418040985
3  24/3/16        418424011      418679993      415485992      416394012
4  25/3/16        416507996      418079987      415558014      417177002

    Volumen
0  61655400
1  66813300
2  61444200
3  68346704
4  52560000

### imprimimos el Dataframe

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression


# Ruta hacia el archivo CSV
ruta_archivo = "C:/Users/SILCA/OneDrive/Escritorio/dataset/BTC-USD.csv"

# Cargar los datos en un DataFrame
df = pd.read_csv(ruta_archivo)
print(df)

        Fecha  Precio_Apertura  Precio_Máximo  Precio_Mínimo  Precio_Cierre  \
0     21/3/16        413417999      413417999      410381012      413307007
1     22/3/16        413131989      418375000      412531006      418088989
2     23/3/16        418161011      419268005      417364014      418040985
3     24/3/16        418424011      418679993      415485992      416394012
4     25/3/16        416507996      418079987      415558014      417177002
...       ...              ...            ...            ...            ...
2855  16/1/24      42499335938    43566273438    42085996094    43154945313
2856  17/1/24      43132101563    43189890625    42189308594    42742652344
2857  18/1/24      42742312500    42876347656    40631171875    41262058594
2858  19/1/24      41278460938    42134160156    40297457031    41618406250
2859  21/1/24      41671488281    41693160156    41615140625    41623695313

          Volumen
0        61655400
1        66813300
2        61444200
3        68346704
4        52560000
...           ...
2855  24062872740
2856  20851232595
2857  25218357242
2858  25752407154
2859  11274039296

[2860 rows x 6 columns]

### Verificamos que los datos se hayan cargado correctamente para mostrar las primeras filas del DataFrame.

In [5]:
df.head()

,Fecha,Precio_Apertura,Precio_Máximo,Precio_Mínimo,Precio_Cierre,Volumen
0,21/3/16,413417999,413417999,410381012,413307007,61655400
1,22/3/16,413131989,418375000,412531006,418088989,66813300
2,23/3/16,418161011,419268005,417364014,418040985,61444200
3,24/3/16,418424011,418679993,415485992,416394012,68346704
4,25/3/16,416507996,418079987,415558014,417177002,52560000

### Examinamos las columnas disponibles en el DataFrame

In [6]:
df.columns

Index(['Fecha', 'Precio_Apertura', 'Precio_Máximo', 'Precio_Mínimo',
       'Precio_Cierre', 'Volumen'],
      dtype='object')

### Cambiamos nombres de columnas

In [7]:
nuevos_nombres = {
    "Date":"Fecha",
    "Open": "Precio_Apertura",
    "High":"Precio_Máximo",
    "Low": "Precio_Mínimo",
    "Close": "Precio_Cierre",
    "Volume": "Volumen"}

# Renombrar las columnas en el DataFrame
df.rename(columns=nuevos_nombres, inplace=True)

# Verificar los nuevos nombres de las columnas
print(df.columns)

Index(['Fecha', 'Precio_Apertura', 'Precio_Máximo', 'Precio_Mínimo',
       'Precio_Cierre', 'Volumen'],
      dtype='object')

### Verificamos que se realizo el cambio de nombres de las columnas

In [8]:
print(df)

        Fecha  Precio_Apertura  Precio_Máximo  Precio_Mínimo  Precio_Cierre  \
0     21/3/16        413417999      413417999      410381012      413307007
1     22/3/16        413131989      418375000      412531006      418088989
2     23/3/16        418161011      419268005      417364014      418040985
3     24/3/16        418424011      418679993      415485992      416394012
4     25/3/16        416507996      418079987      415558014      417177002
...       ...              ...            ...            ...            ...
2855  16/1/24      42499335938    43566273438    42085996094    43154945313
2856  17/1/24      43132101563    43189890625    42189308594    42742652344
2857  18/1/24      42742312500    42876347656    40631171875    41262058594
2858  19/1/24      41278460938    42134160156    40297457031    41618406250
2859  21/1/24      41671488281    41693160156    41615140625    41623695313

          Volumen
0        61655400
1        66813300
2        61444200
3        68346704
4        52560000
...           ...
2855  24062872740
2856  20851232595
2857  25218357242
2858  25752407154
2859  11274039296

[2860 rows x 6 columns]

### Dividir los datos en características (X) y etiquetas (y), Características (Apertura, Máximo, Mínimo, Volumen, etc.)

In [10]:
X = df.drop("Precio_Cierre", axis=1)  # Características (Apertura, Máximo, Mínimo, Volumen, etc.)
y = df["Precio_Cierre"]  # Etiquetas (Cierre)

### Dividir los datos en conjuntos de entrenamiento y prueba

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
model = LinearRegression()